$blue: #00aaaa;
$green: #00aa00;
$orange: #ff7700;

a {
  color: $blue;
}

div.logo {
  color: $green;
  font-weight: bold;
}

.main-nav a {
  color: $orange;
  text-decoration: none;
  border-bottom: 3px dotted #000;
}

a.logo {
  color: $blue;
  font-weight: bold;
  border-bottom: none;
  text-decoration: underline;
}
